[Aves2Server]
    host = ''
    api_token = ''

[UserInfo]
    username = ''
    namespace = 'default'  # 仅当Aves2部署在Kubernetes集群时有效

[StorageConf]
    [[S3]]
        S3Endpoint = ''
        S3AccessKeyId = ''
        S3SecretAccessKey = ''
